.canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
}

.canvas__button {
  max-width: 320px;
  padding: 8px;
  border: none;
  border-radius: 8px;
  background-color: #0095dd;
  cursor: pointer;
  color: #ffffdd;
}

.canvas__button:disabled {
  visibility: hidden;
}
